

			<!-- our-team -->
			<div class="team">
				<div class="center wow fadeInDown">
					<h2>درباره ی ما</h2>
					<p class="lead"></p>
				</div>

				<div class="row clearfix">
					<div class="col-md-4 col-sm-6">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object" src="<%= asset_path('bracelet.jpeg') %>"  alt=""></a>
								</div>
								<div class="media-body">
									<h2>ایده ی پروژه</h2>
									<h3>پروژه ی دستبند جادویی ایده ای بود که به خاطر گرایش مردم به شبکه های اجتماعی و theory of fun به ذهن ما رسید</h3>
									
								</div>
							</div><!--/.media -->
							<p></p>
						</div>
					</div><!--/.col-lg-4 -->
					
					
					<div class="col-md-4 col-sm-6 col-md-offset-2">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object" src="<%= asset_path('bracelet.jpeg') %>" alt=""></a>
								</div>
								<div class="media-body">
									<h2>قابلیت های پروژه</h2>
									<h3>چرا نتونم قوانین خودم را داشته باشم؟ و رنگ دستبندم را بر اساس اتفاقات مهمی که برایم می افتد تغییر دهم؟</h3>
									
								</div>
							</div><!--/.media -->
							<p></p>
						</div>
					</div><!--/.col-lg-4 -->					
				</div> <!--/.row -->
				<div class="row team-bar">
					<div class="first-one-arrow hidden-xs">
						<hr>
					</div>
					<div class="first-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="second-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
					<div class="third-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="fourth-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
				</div> <!--skill_border-->       

				<div class="row clearfix">   
					<div class="col-md-4 col-sm-6 col-md-offset-2">	
						<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object" src="<%= asset_path('bracelet.jpeg') %>" alt=""></a>
								</div>

								<div class="media-body">
									<h2>ارضای گرایش به شبکه های اجتماعی</h2>
									<h4>چرا نتوانم یه گروه با بقیه ی دستبند دارها تشکیل بدم؟ چرا نتوانم رنگ دستبند دوستانم را عوض کنم یا قوانینی داشته باشیم که متعلق به گروه است؟</h4>
									
								</div>
							</div><!--/.media -->
							<p></p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-md-offset-1">
						<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object" src="<%= asset_path('bracelet.jpeg') %>" alt=""></a>
								</div>
								<div class="media-body">
									<h2>انعطاف پذیری در پیاده سازی</h2>
									<h3>چرا نتوانم API ای داشته باشم تا هر کاربر یا شرکتی شاخص های خودش را در رنگ دستبند ما نمایش دهد؟</h3>
								</div>
							</div><!--/.media -->
							<p></p>
						</div>
					</div>
				</div>	<!--/.row-->
			</div><!--section-->
		</div><!--/.container-->
    </section><!--/about-us-->